<div class="d-flex align-items-center justify-center flex-column">
  <img src="../../../../assets/workspace-title.svg" class="title-svg" />
  <h1 class="my-5 font-700 title">¡Bienvenido!</h1>
  <div>
    <p class="text-black h4 text-start">Login</p>
    <form
      class="d-flex align-items-center justify-center flex-column mt-3 form"
      [formGroup]="form"
    >
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          autocomplete="true"
          matInput
          class="form-input"
          type="email"
          formControlName="email"
        />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input
          autocomplete="off"
          matInput
          class="form-input"
          [type]="showPassword ? 'text' : 'password'"
          formControlName="password"
        />
        <mat-icon
          matSuffix
          (click)="this.showPassword = !this.showPassword"
          class="pointer"
          >{{ showPassword ? "remove_red_eye" : "lock" }}</mat-icon
        >
      </mat-form-field>
      <ng-container *ngIf="!this.isSpinnerVisible; else spinner">
        <app-workspace-btn
          class="w-100"
          [text]="'Ingresar'"
          (click)="login()"
          [disabled]="!this.form.valid"
        ></app-workspace-btn>

        <app-workspace-btn
          class="w-100 mt-2"
          [text]="'Crear Usuario'"
          routerLink="/register"
          color="white"
        ></app-workspace-btn
      ></ng-container>

      <ng-template #spinner> <mat-spinner strokeWidth="20" ></mat-spinner> </ng-template>
    </form>
  </div>
</div>
