<div class="d-flex align-items-center justify-content-center flex-column">
  <img src="../../../../assets/workspace-title.svg" class="title-svg" />
  <div class="mt-3">
    <div class="d-flex mt-4 align-items-center text-black font-700">
      <mat-icon routerLink="/login" class="pointer">arrow_back</mat-icon>
      <p class="mx-2 mb-0 h4">Crear cuenta</p>
    </div>
    <form
      class="d-flex align-items-center justify-content-center flex-column mt-3 form"
      [formGroup]="form"
    >
      <!-- Nombre -->
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          class="form-input"
          type="text"
          formControlName="first_name"
        />
        <mat-error *ngIf="form.get('first_name')?.hasError('required')"
          >El nombre es obligatorio.</mat-error
        >
        <mat-error *ngIf="form.get('first_name')?.hasError('maxLength')"
          >El nombre no debe superar los 50 caracteres.</mat-error
        >
      </mat-form-field>

      <!-- Apellido -->
      <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input
          matInput
          class="form-input"
          type="text"
          formControlName="last_name"
        />
        <mat-error *ngIf="form.get('last_name')?.hasError('required')"
          >El apellido es obligatorio.</mat-error
        >
        <mat-error *ngIf="form.get('last_name')?.hasError('maxLength')"
          >El apellido no debe superar los 50 caracteres.</mat-error
        >
      </mat-form-field>

      <!-- Email -->
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          class="form-input"
          type="email"
          formControlName="email"
        />
        <mat-error *ngIf="form.get('email')?.hasError('required')"
          >El email es obligatorio.</mat-error
        >
        <mat-error *ngIf="form.get('email')?.hasError('email')"
          >Ingresa un email válido.</mat-error
        >
      </mat-form-field>
      <!-- Contraseña -->

      <div class="d-flex flex-column">
        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            class="form-input"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
          />
          <mat-icon
            matSuffix
            (click)="this.showPassword = !this.showPassword"
            >{{ showPassword ? "remove_red_eye" : "lock" }}</mat-icon
          >
        </mat-form-field>
        <p class="password-text">
          Mínimo: 8 caracteres, 1 carácter no alfanumérico <br />(!, . -, etc.),
          1 dígito numérico y 1 letra mayúscula.
        </p>
      </div>

      <!-- Repetición de Contraseña -->
      <mat-form-field appearance="fill">
        <mat-label>Repetir Contraseña</mat-label>
        <input
          matInput
          class="form-input"
          [type]="showPassword ? 'text' : 'password'"
          formControlName="repeatPassword"
        />
        <mat-icon matSuffix (click)="this.showPassword = !this.showPassword">{{
          showPassword ? "remove_red_eye" : "lock"
        }}</mat-icon>
        <mat-error
          *ngIf="
            form.get('repeatPassword')?.hasError('required') ||
            form.get('repeatPassword')?.value !== form.get('password')?.value
          "
          >Debes repetir la contraseña correctamente.</mat-error
        >
      </mat-form-field>

      <app-workspace-btn
        class="w-100"
        [text]="'Crear usuario'"
        (click)="register()"
        [disabled]="!this.form.valid"
      ></app-workspace-btn>

      <app-workspace-btn
        class="w-100 mt-3"
        [text]="'Volver'"
        routerLink="/login"
        color="white"
      ></app-workspace-btn>
    </form>
  </div>
</div>
