mat-form-field {
  height: 77px;
  width: 100%;

  mat-label {
    font-weight: 500;
  }

  mat-icon {
    font-size: 24px;
    color: #5230ff;
  }

  input {
    color: #9747ff;
  }

  &::ng-deep {
    .mat-mdc-text-field-wrapper {
      background-color: #fff;
      padding: 0 16px;
      border-radius: 8px;
      border: 2px solid #a1a1a1;
      gap: 16px;
      outline: none;
      transition: 0.5s;

      &:hover {
        border-color: #9747ff;
      }
    }

    .mat-mdc-form-field-focus-overlay {
      opacity: 0;
      font-weight: 900;
    }

    .mat-mdc-select-value-text {
      color: #5230ff;
    }

    .mdc-line-ripple {
      display: none;
    }
  }
}
