<header
  class="d-flex justify-content-between align-items-center p-2 py-3 blue-line mx-3"
>
  <img
    matbuttonicon
    src="../../../assets/title.png"
    alt="Logo "
    class="logo pointer"
    width="40px"
    height="40px"
    routerLink="home"
  />

  <!-- <ng-container *ngIf="user && user.email">
    <button mat-button class="text-white" (click)="openDialog()">
    
    </button>
    <img src="../../../assets/profile.img" (click)="openDialog()" />
  </ng-container> -->
  <div class="d-flex text-center">
    <div class="position-relative d-inline-block pointer">
      <img
        src="../../../assets/icons/task-list.svg"
        width="30px"
        height="30px"
      />
      <span class="badge-relative badge rounded-pill bg-danger">
        {{ lengthNumber }}</span
      >
    </div>

    <img
      src="../../../assets/profile.img"
      (click)="openDialog()"
      class="rounded-circle object-fit-cover pointer"
      width="30px"
      height="30px"
    />
  </div>
</header>
