<div class="row">
  <div class="col-12">
    <app-searcher></app-searcher>
  </div>
  <div class="col-12">
    <h2>Filtros</h2>
  </div>
  <div class="col-12 d-flex">
    <app-workspace-btn
      [text]="'Incompletas'"
      [color]="'blue'"
      [disabled]="incompletedBtnSelected"
      [color]="incompletedBtnSelected ? 'blue' : 'grey'"
      (click)="this.getIncompleteTasks()"
    ></app-workspace-btn>
    <app-workspace-btn
      [text]="'Completas'"
      [color]="incompletedBtnSelected ? 'grey' : 'blue'"
      [disabled]="!incompletedBtnSelected"
      class="mx-4"
      (click)="this.getCompleteTasks()"
    ></app-workspace-btn>
  </div>
</div>

<ng-container *ngIf="!error; else elseBlock">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12 mt-4" *ngFor="let task of tasks">
      <app-task [data]="task"></app-task>
    </div>
  </div>
</ng-container>
<ng-template #elseBlock>
  <p class="text-danger">{{ error }}</p>
</ng-template>
