<div class="row">
  <div class="col-12">
    <app-searcher (searchValueChanged)="onSearchValueChanged($event)"></app-searcher>
  </div>
  <div class="col-12">
    <h2>Filtros</h2>
  </div>
  <div class="col-12 d-flex">
    <app-workspace-btn
      [text]="'Incompletas'"
      [color]="'blue'"
      [disabled]="incompletedBtnSelected"
      [color]="incompletedBtnSelected ? 'blue' : 'grey'"
      (click)="getIncompletedTasks()"
    ></app-workspace-btn>
    <app-workspace-btn
      [text]="'Completas'"
      [color]="incompletedBtnSelected ? 'grey' : 'blue'"
      [disabled]="!incompletedBtnSelected"
      class="mx-4"
      (click)="getCompletedTasks()"
    ></app-workspace-btn>
  </div>
</div>

<ng-container *ngIf="!error && !showSpinner">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-xs-12 mt-4" *ngFor="let task of tasks">
      <app-task [data]="task"></app-task>
    </div>
  </div>
</ng-container>

<div *ngIf="!error && showSpinner">
  <mat-spinner class="my-5"></mat-spinner>
</div>

<app-workspace-btn
  [text]="'Más tareas'"
  class="mt-4 m-w-300"
  (click)="loadNextPage()"
></app-workspace-btn>

<ng-template *ngIf="error && !showSpinner">
  <p class="text-danger">{{ error }}</p>
</ng-template>
