<form
  [formGroup]="form"
  class="d-flex justify-content-center align-items-center flex-column p-5 pb-0"
>
  <h3 class="h1 text-center">Agregar una nueva tarea</h3>
  <mat-form-field appearance="fill">
    <mat-label>Título</mat-label>
    <input
      autocomplete="true"
      matInput
      class="form-input"
      type="text"
      formControlName="title"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      [value]="inputValue"
      (input)="onInputChange($event)"
      disabled="true"
    />
    <app-priority-input
      [counterValue]="inputValue"
      (counterChange)="onCounterChange($event)"
      matSuffix
    ></app-priority-input>
  </mat-form-field>

  <app-category-input
    [categories]="categories"
    (categorySelected)="onCategorySelected($event)"
  ></app-category-input>

  <mat-form-field appearance="fill" class="textarea">
    <mat-label>Descripción</mat-label>
    <textarea
      autocomplete="true"
      matInput
      rows="4"
      formControlName="description"
    ></textarea>
  </mat-form-field>
  <div *ngIf="error">
    <p class="text-danger font-700">
      {{ this.error }}
    </p>
  </div>

  <div class="mt-1 d-flex justify-content-between">
    <button type="button" class="btn btn-danger m-2" (click)="this.closeDialog()">Cancelar</button>
    <button
      type="button"
      class="btn btn-primary m-2"
      [disabled]="form.invalid"
      (click)="createTask()"
    >
      Aceptar
    </button>
  </div>
</form>
