.filter-btn {
  padding: 8px 12px;
  text-align: center;
  gap: 4px;
  border-radius: 8px;
}
.complete {
  background-color: #5230ff;
  margin-left: 4rem;
}
.incomplete {
  background-color: #f7f5ff;
  color: #5230ff;
}
