html {
  height: 100%;
  body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding: 0;
    app-root {
      display: flex;
      flex-direction: column;
      height: 100%;
      app-login,
      app-register {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
